:root{
    --dark-color: #000000;
    --light-gray: #ACACAC;
    --light-orange: #FFA135;
    --orange: #FF7426;
    --white: #ffffff;
    --light-dark: #212121;
    --pink: #B17373;
    --yellow: #F9D4AB;

}